@import "tailwindcss";

@theme {
  /* Base backgrounds */
  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
  --color-base-300: #f1f5f9;

  /* Brand */
  --color-primary: #ff9628;
  --color-secondary: #00c2cb;

  /* Text */
  --color-title: #111827; 
  --color-content: #4b5563; 
  
  /* States */
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
}

::selection {
  background-color: var(--color-secondary);
}